/* AccountSettings.css */

.account-settings-container {
  align-items: flex-start;
  background-color: #eaeaea;
  display: flex;
  gap: 2rem; /* Space between forms */
  justify-content: space-around;
  min-height: 100vh;
  padding: 2rem; /* Space around forms */
}

.error-popup {
  position: fixed;
  top: 50px;
  right: 20px;
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  z-index: 999;
}

.account-settings-container > div {
  flex-basis: 50%;
}

.validate-password-form {
  margin-top: 15%;
  align-self: start;
}

.update-information-form {
  margin-top: 12%;
  align-self: start;
}

.update-password-form {
  margin-top: 12%;
  align-self: start;
}
  
.error-popup {
  background-color: #f44336;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  position: fixed;
  right: 20px;
  top: 50px;
  z-index: 999;
}
  
.account-settings-form {
  align-items: center;
  background-color: #D8D7D7;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 2rem;
  width: 100%;
}
  
.account-settings-label {
  display: block;
  margin-bottom: 1.5rem;
}
  
.account-settings-label-input {
  background-color: #F1F1F1;
  border: 1px solid #868686;
  border-radius: 4px;
  color: #373737;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  outline: none;
  padding: 15px;
  width: 100%;
}
  
.account-settings-label-input::placeholder {
  color: #373737;
  opacity: 1;
}
  
.account-settings-button {
  background-color: #3B3838;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 18px;
  padding: 15px;
  transition: background-color 0.3s ease;
  width: 50%;
}
  
.account-settings-button:hover {
  background-color: #2C2C2C;
}
  
@media screen and (max-width: 768px) {
  .account-settings-container {
    flex-direction: column; /* Stack the forms vertically */
    padding: 1rem; /* Reduce the space around the forms */
  }

  .account-settings-form {
    padding: 1rem;
  }

  .account-settings-container > div {
    flex-basis: auto; /* Let the forms take up as much space as they need */
  }

  .account-settings-label-input {
    font-size: 16px;
    padding: 10px;
  }

  .account-settings-button {
    font-size: 16px;
    padding: 10px;
  }

  .validate-password-form,
  .update-information-form,
  .update-password-form {
    margin-top: 2rem; /* Adjust the space above each form */
    align-self: center; /* Align the forms to the center */
  }
}

