.dashboard-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.dashboard {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D6D6D6;
  padding: 10px 20px;
}

.dashboard-logo {
  font-size: 1.5rem;
  color: #3B3838;
  text-decoration: none;
}

.dashboard-nav {
  display: flex;
  align-items: center;
}

.dashboard-nav-link {
  color: #3B3B3B;
  background-color: #D6D6D6;
  text-decoration: none;
  font-size: 1.1rem;
  margin-right: 50px;
  margin-left: 50px;
  transition: color 0.3s ease;
}

.center-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.center-links .dashboard-nav-link {
  margin: 0 200px 0 200px;
}

.dashboard-nav-hovered-link {
  color: #3B3B3B;
  background-color: #D6D6D6;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 10px 10px 15px 10px;
  transition: color 0.3s ease;
}

.dashboard-nav-link:hover {
  color: #202020;
}

.dashboard-account {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: space-between;
  background-color: #D6D6D6;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.dashboard-account:hover::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 0;
}

.dashboard-account-dropdown {
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 10px);
  white-space: nowrap;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  margin-top: 5px;
  border-radius: 10px;
}

.dashboard-account-dropdown a {
  background-color: #E0E0E0;
  color: #3B3B3B;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}

.dashboard-account-dropdown a:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dashboard-account-dropdown a:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dashboard-account-dropdown a:hover {
  color: #202020;
}

.dashboard-account:hover .dashboard-account-dropdown {
  visibility: visible;
}

.dashboard-account:hover .dashboard-nav-hovered-link {
  color: #202020;
}

.custom-modal {
  position: absolute;
  top: 60px;
  left: 0;
  width: auto;
  background-color: #D6D6D6;
  padding: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-button {
  flex: 1;
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #3B3838;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-button:hover {
  background-color: #202020;
}

.modal-button:first-child {
  margin-left: 0;
}

.modal-button:last-child {
  margin-right: 0;
}

/* Mobile styles */
@media (max-width: 767px) {
  .dashboard {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .center-links .dashboard-nav-link {
    margin: 0 20px;
  }

  .center-links {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .dashboard-account-dropdown {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #D6D6D6;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    white-space: normal;
  }

  .dashboard-account-dropdown a {
    padding: 10px 20px;
    color: #3B3B3B;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
  }

  .dashboard-account-dropdown a:hover {
    background-color: #BFBFBF;
  }

  .dashboard-account:hover .dashboard-account-dropdown {
    visibility: visible;
  }

  .custom-modal {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 400px;
  }
}
