/* Dashboard.css */

.dashboard-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D6D6D6;
    padding: 10px 20px;
  }
  
  .dashboard-logo {
    font-size: 1.5rem;
    color: #3B3838;
    text-decoration: none;
  }
  
  .dashboard-nav {
    display: flex;
    align-items: center;
  }
  
  .dashboard-nav-link {
    color: #3B3B3B;
    background-color: #D6D6D6;
    text-decoration: none;
    font-size: 1.1rem;
    margin-right: 20px;
    transition: color 0.3s ease;
  }
  
  .dashboard-nav-link:hover {
    color: #202020;
  }
  
  .dashboard-nav-link:last-child {
    margin-right: 0;
  }

  .dashboard-account {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .dashboard-account-dropdown {
    visibility: hidden;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: transparent;
    white-space: nowrap;
    z-index: 1;
  }
  
  .dashboard-account-dropdown a {
    color: #3B3B3B;
    text-decoration: none;
    display: block;
  }
  
  .dashboard-account-dropdown a:hover {
    color: #202020;
  }
  
  .dashboard-account:hover .dashboard-account-dropdown {
    visibility: visible;
  }
  
  .dashboard-account:hover .dashboard-nav-link {
    color: #202020;
  }

  .custom-modal {
    position: absolute;
    top: 60px;
    left: 0;
    width: auto;
    background-color: #D6D6D6;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .modal-button {
    flex: 1;
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3B3838;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .modal-button:hover {
    background-color: #202020;
  }
  
  .modal-button:first-child {
    margin-left: 0;
  }
  
  .modal-button:last-child {
    margin-right: 0;
  }

  /* Mobile styles */
  @media (max-width: 767px) {
    .dashboard {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  
    .dashboard-nav-link {
      margin: 10px 10px 10px 0;
    }
  
    .dashboard-account-dropdown {
      visibility: hidden;
      position: absolute;
      left: 0;
      top: 100%;
      background-color: #D6D6D6;
      padding: 5px 0;
      border-radius: 5px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      white-space: nowrap;
    }
  
    .dashboard-account-dropdown a {
      padding: 10px 20px;
      color: #3B3B3B;
      text-decoration: none;
      display: block;
      transition: background-color 0.3s ease;
    }
  
    .dashboard-account-dropdown a:hover {
      background-color: #BFBFBF;
    }
  
    .dashboard-account:hover .dashboard-account-dropdown {
      visibility: visible;
    }
  
    .custom-modal {
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      max-width: 400px;
    }
  }
