.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: hidden;
    background-color: #eaeaea;
  }

  .chat-list-container, .chat-container {
    transition: all 0.5s ease-in-out;
  }

  .chat-list-container {
    width: 30%;
    margin: auto;
    height: 100vh;
  }

  .chat-container {
    width: 70%;
    left: 30%;
    position: absolute;
    opacity: 1;
  }
  
  .chat-list-container.active {
    margin-left: 0px;
    height: 100vh;
    background-color: #E7E7E7;
  }

  .chat-container.active {
    opacity: 1;
    background-color: #EAEAEA;
  }

  .chat-list {
    flex: 1;
    padding: 0 20px;
    margin-left: 25%;
    overflow-y: auto;
    height: 100vh;
  }

  .conversation-list-header {
    position: relative;
    font-size: 25px;
    top: 7%;
  }

  .conversation-list {
    margin-top: 25%;
  }

  .conversation-list-item {
    position: relative;
    display: inline-block;
  }
  
  .chat-list h3 {
    cursor: pointer;
  }
  
  .chat {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: calc(100vh - 30px);
    overflow-y: hidden;
  }

  .chat-select-message {
    position: absolute;
    top: 10%;
    left: 7%;
    text-align: center;
    font-size: 20px;
  }
  
  .chat h2 {
    margin-bottom: 20px;
  }

  .chat-header {
    margin-top: 5%;
  }
  
  .chat-history {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: auto;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    height: 100%;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .message-wrapper {
    position: relative;
  }

  .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .message-time {
    font-size: 0.8em;
    color: gray;
  }

  .sender {
    align-self: flex-end;
    background-color: #00F3B4;
    color: #F4F4F4;
  }

  .receiver {
    align-self: flex-start;
    background-color: #e5e5ea;
    color: #343434;
  }

  .message-delete-button {
    visibility: hidden;
    background-color: #CC0000;
    color: #F4F4F4;
    cursor: pointer;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    transition: background-color 0.2s;
  }

  .sender:hover .message-delete-button {
    visibility: visible;
  }

  .message-delete-button:hover {
    background-color: #E90000;
  }

  .chat-input {
    display: flex;
    margin-top: 10px;
  }
  
  .chat-input textarea {
    flex: 1;
    padding: 10px;
    margin-bottom: 2%;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: #FCFCFC;
  }
  
  .chat-input button {
    padding: 0 20px;
    margin-bottom: 2%;
    border: none;
    background: #00EFB1;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .chat-input button:hover {
    background: #10E1AB;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
      overflow-y: auto;
    }

    .chat-list-container {
      width: 100%;
      margin: 0;
      height: auto;
    }

    .chat-list-container.active,
    .chat-container.active {
      width: 100%;
    }

    .chat-container {
      width: 100%;
      position: static;
      left: 0;
    }

    .chat-list {
      height: auto;
      padding: 0;
      overflow-y: auto;
      margin-left: 0;
    }

    .conversation-list-header {
      font-size: 20px;
    }

    .chat {
      height: auto;
      padding: 10px;
    }

    .chat-input input {
      padding: 8px;
    }

    .chat-input button {
      padding: 0 10px;
    }

    .chat-select-message {
      position: static;
      left: 0;
    }
}